.home-header {
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.home-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}